header{
    background-color: hsla(240, 28%, 46%, 0.445);
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 20px;
    border-radius: 5px;
}
#gamesUl{
  border: 2px;
    list-style: none;
    background-color: hsla(152, 68%, 30%, 0.61);
    border-radius: 2rem;
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.gamesLi{
    border: 2px;
    list-style: none;
    background-color: hsla(152, 68%, 50%, 0.61);
    border-radius: 2rem;
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#gamesListDiv{
    display: flex;
    margin: none;
    border: none;
}
.gameItem{
    color: hsl(0, 0%, 100%);
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
body, html{
    height: 100vh;
    width: 100nw;
}
#aboutDiv{
    font-family: "Arial", sans-serif;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
#heroImgDiv{
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)), url("hero.jpg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
    border-radius: 10px;
}
