.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    border-radius: 2px;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-family: "Arial", sans-serif;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}
#gameContainer{
     font-family: "Arial", sans-serif;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
#restartBtn{
    border: none;
    font-size: 2rem;
    padding: 1rem;
    background-color: hsla(0, 96%, 50%, 0.267);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 12px 0px 0px hsla(0, 96%, 20%, 0.267);
    
}
#restartBtn:hover{
    background-color: hsla(0, 96%, 60%, 0.267);
}
#restartBtn:active{
    transform: translateY(7px);
    box-shadow: 0px 8px 0px 0px hsla(0, 96%, 20%, 0.267);
}
#mainH1{
    background-color: red;
}