header{
    background-color: hsla(240, 28%, 46%, 0.445);
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 20px;
    border-radius: 5px;
}
.menu{
    border: 2px;
    list-style: none;
    background-color: hsla(152, 68%, 50%, 0.61);
    border-radius: 2rem;
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.item{
    color: hsl(0, 0%, 100%);
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;

}
#menuNav{
    border: 2px;
    list-style: none;
    background-color: hsla(152, 68%, 30%, 0.61);
    border-radius: 2rem;
    margin-right: 10px;
    color: hsl(0, 0%, 100%);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#menuDiv{
    display: flex;
    border-right: 5px;
    margin: 5px;
}

#rulesContainer{
    padding: 10px;
    margin: 10px 10px;
}
.rules{
    font-family: "Arial", sans-serif;
    text-align: justify;
}
#gameBoard{
    border: 3px solid;

}
#gameContainer{
    text-align: center;
}
#scoreText{
    font-family: "Arial", sans-serif;
    font-size: 3rem;
}
#resetBtn{
    border: none;
    font-size: 2rem;
    padding: 1rem;
    background-color: hsla(0, 96%, 50%, 0.267);
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0px 12px 0px 0px hsla(0, 96%, 20%, 0.267);
}
#resetBtn:hover{
    background-color: hsla(0, 100%, 40%, 0.452);
}
#resetBtn:active{
    transform: translateY(7px);
    box-shadow: 0px 8px 0px 0px hsla(0, 96%, 20%, 0.267);
}